@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

/* Global Styles */

* {
  font-family: 'Roboto', Arial, sans-serif;
  color: #616161;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

.container {
  padding: 9px 16px 16px 16px;
  width: 100%;
  display: flex;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

app-set-list {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}

/* Text */

h1 {
  font-size: 32px;
}

h2 {
  font-size: 20px;
}

h1, h2 {
  font-weight: lighter;
}

p {
  font-size: 14px;
}

/* Hyperlink */

a {
  cursor: pointer;
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

.button:hover, button:hover {
  opacity: 0.8;
  font-weight: normal;
}

.button:disabled, button:disabled {
  opacity: 0.5;
  cursor: auto;
}

/* Top Bar */

app-top-bar, app-footer {
  width: 100%;
  height: 68px;
  background-color: #FF9800;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

app-top-bar h1 {
  color: white;
  margin: 0;
}

app-footer {
  position: absolute;
  bottom: 0;
}

app-footer h2, h3 {
  vertical-align: middle;
  text-align: center;
}

/* header and set-list */
.wrap {
  padding-bottom: 68px; /* for footer */
}

table {
  width: 100%;
}

td.mat-cell {
  padding: 4px;
}


