@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

/* Global Styles */

* {
  font-family: 'Roboto', Arial, sans-serif;
  color: #616161;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

article {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px;
}

article h1 {
  text-align: center;
}

/* Hyperlink */

a {
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

.button:hover, button:hover {
  opacity: 0.8;
  font-weight: normal;
}

.button:disabled, button:disabled {
  opacity: 0.5;
  cursor: auto;
}

/* Top Bar */

.topbar, app-footer {
  width: 100%;
  height: 68px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

app-footer {
  padding: 0px 16px;
}

app-footer h2, h3 {
  vertical-align: middle;
  text-align: center;
}

.topbar button, a {
  margin: 0px 5px;
}
